################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-learning Platform/FileContentIndex/405b6a33-58a2-42e9-b5fb-783a2b60d96e.vsidx
/.vs/E-learning Platform/FileContentIndex/18b5b224-c01e-490c-bd4d-fd955bd2827d.vsidx
/.vs/E-learning Platform/FileContentIndex/0a750a42-2ea7-4c49-ad21-453a1e0e4177.vsidx
/.vs/E-learning Platform/FileContentIndex/9904c3a3-a42f-485a-9458-85d6f1da9b71.vsidx
/.vs/E-learning Platform/FileContentIndex/77a022be-fc9e-4ad6-b4c8-a5f68c220bca.vsidx
